.login-container {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;
}

.login {
	width: 40rem;
	padding: 2rem;
	box-shadow: 0 1px 8px rgb(0 0 0 / 0.2);
	border-radius: 0.5rem;
}

.login-title {
	text-align: center;
	font-weight: 900;
	margin-bottom: 2rem;
	color: var(--global-color);
}

.login-form > input {
	width: 100%;
	margin: 0.4rem 0 2rem;
	padding: 1rem;
}

.forgot-password {
	font-size: 1.2rem;
}

.btn-login {
	width: 100%;
	background-color: var(--global-color);
	margin-top: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-weight: 700;
}

.btn-login:hover {
	color: var(--global-color);
	background-color: var(--white-color);
	border: 1px solid var(--global-color);
}

.btn-guest-login {
	font-weight: 700;
	color: var(--global-color);
	background-color: var(--white-color);
	border: 1px solid var(--global-color);
}

.btn-guest-login:hover {
	color: var(--white-color);
	background-color: var(--global-color);
}

.no-account {
	font-size: 1.4rem;
	margin: 1rem 0;
	text-align: center;
	letter-spacing: 0.1rem;
}

.no-account a {
	text-decoration: underline;
}

.term-condition {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
}

.term-condition > input {
	margin-right: 0.5rem;
}

.login-error-msg,
.signup-error-msg {
	margin-bottom: 2rem;
}

@media only screen and (max-width: 320px) {
	.login {
		width: 32rem;
	}
}
