@import url("https://fonts.googleapis.com/css2?family=Qwigley&display=swap");

.nav-bar {
	background-color: var(--global-color);
	justify-content: space-around;
	padding-top: 1.5rem;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100vw;
}

.nav-brand-title a {
	font-size: 4rem;
	font-family: "Qwigley", cursive;
}

.btn-nav {
	padding: 0.8rem 2rem;
	color: var(--global-color);
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
}

.hamburger-icon {
	display: none;
}

.firstName {
	font-size: 1.8rem;
	color: var(--white-color);
	margin-left: 1rem;
	padding: 0.8rem 1rem;
}

.firstName:hover {
	padding: 0.8rem 1rem;
	color: var(--global-color);
	background-color: var(--white-color);
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
}

.badge-container {
	display: inline-block;
}

.badge-container > .badge > .fas,
.far {
	font-size: 2rem;
}

.badge-container {
	position: relative;
}

.badge-container > .badge > .cart-badge,
.wishlist-badge {
	padding: 0 0.6rem;
	width: 2.2rem;
	height: 2.2rem;
	font-size: 1.2rem;
	font-weight: 800;
	border-radius: 50%;
	position: absolute;
	bottom: 16px;
	left: 16px;
	color: var(--white-color);
	background-color: var(--currency-color);
}

.badge-container > .badge > .wishlist-badge {
	left: 34px;
}

.mobile-sidebar {
	position: fixed;
	right: -60%;
	background-color: var(--global-color);
	width: 50%;
	height: 95vh;
	z-index: 100;
	transition: 0.8s all ease-in-out;
	border-radius: 1rem 0 0 1rem;
}

.mobile-sidebar > ul > a > li {
	color: var(--white-color);
	font-size: 2rem;
	margin-bottom: 2rem;
	padding: 1rem;
	border-radius: 1rem;
	cursor: pointer;
	transition: 0.3s all ease-in;
}

.mobile-sidebar > ul a > li:hover {
	font-size: 2.1rem;
	font-weight: 800;
	opacity: 0.9;
}

.fa-solid {
	margin-right: 1rem;
}

.show-sidebar {
	right: 0%;
	height: 93vh;
	padding: 3rem 0 2rem 4rem;
	transition: 0.8s all ease-in-out;
	border-radius: 1rem 0 0 1rem;
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 50%;
	}

	.nav-bar {
		justify-content: space-between;
		padding: 1.3rem 3rem;
	}

	.nav-center,
	.nav-links {
		display: none;
	}

	.hamburger-icon {
		font-size: 3rem;
		display: block;
		cursor: pointer;
	}
}

@media only screen and (max-width: 375px) {
	.show-sidebar {
		width: 60%;
	}
}
