@import url("https://fonts.googleapis.com/css2?family=Qwigley&display=swap");

.hero-container {
	width: 100%;
	height: 80vh;
	background-image: linear-gradient(
			rgba(17, 17, 17, 0.5),
			rgba(17, 17, 17, 0.5)
		),
		url("../../assets/diary.jpg");
	background-size: cover;
	background-position: 10% 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	margin-top: 7rem;
}

.hero-container h1 {
	font-size: 14rem;
	font-family: "Qwigley", cursive;
	color: var(--white-color);
}

.btn-primary {
	font-size: 2.1rem;
	font-weight: 400;
	background-color: var(--global-color);
	transition: 0.3s ease all;
	padding: 1.2rem 2rem;
}

.btn-primary:hover {
	background-color: var(--white-color);
	color: var(--global-color);
}

.highlight-text {
	color: var(--global-color);
}

.featured-categories {
	max-width: 1100px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 10rem;
}

.featured-items {
	width: 24rem;
	margin-top: 5rem;
}

.featured-items > a > img {
	width: 100%;
}

.featured-items > .price-container {
	padding: 1rem 0rem;
}

.featured-items > .price-container > p {
	font-size: 1.6rem;
	font-weight: 700;
	color: var(--global-color);
}

.featured-items > .price-container > .currency {
	color: var(--currency-color);
	font-size: 1.6rem;
	font-weight: 700;
}

.section-title {
	margin-top: 10rem;
	text-transform: uppercase;
	color: var(--gray-color);
}

.btn-category {
	width: 100%;
	font-size: 1.8rem;
	text-transform: capitalize;
}

.btn-category:hover {
	border: 1px solid var(--global-color);
}

@media only screen and (max-width: 1024px) {
	.hero-container h1 {
		font-size: 10rem;
	}
}

@media only screen and (max-width: 768px) {
	.featured-items {
		width: 35rem;
	}
}

@media only screen and (max-width: 350px) {
	.hero-container h1 {
		font-size: 7rem;
	}

	.featured-items {
		width: 30rem;
	}
}
